<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue.next.js"></script>
    <script src="swiper/swiper/swiper-bundle.js"></script>
    <link rel="stylesheet" href="swiper/swiper/swiper-bundle.css">

    <style>
        .swiper-wrapper {
            min-height: 100px;
        }

        .swiper img {
            height: 600px;
        }
    </style>
</head>

<body>
    <!-- 改1-04-05-04-1  -->
    <div id="box">
        <!-- <swiper :key="datalist.length"> -->
        <swiper v-if="datalist.length" :loop="true">
            <swiper-item v-for="data in datalist" :key="data">
                <img :src="data">
            </swiper-item>

        </swiper>
    </div>
    <script>

        var obj = {
            data() {
                return {
                    datalist: [],
                }

            },
            mounted() {
                setTimeout(() => {
                    this.datalist = ["https://pic.maizuo.com/usr/movie/4c2f1672aa45f853e84e8d0f31b46a05.jpg", "https://pic.maizuo.com/usr/movie/6f6a1eaa1cd0123cfaf03c0a1b2e7938.jpg", "https://pic.maizuo.com/usr/movie/3495b5706cb0f7cd4545ba1c441e190d.jpg"]
                }, 2000)
            }
        }
        var app = Vue.createApp(obj)
        app.component("swiperItem", {
            template: `
    <div class="swiper-slide">
        <slot></slot>
    </div>
    `
        })
        app.component("swiper", {
            props: {
                loop: {
                    type: Boolean,
                    default: true
                }
            },
            template: `
<div class="swiper taosu">
    <div class="swiper-wrapper">
       <slot></slot>
    </div>
    <div class="swiper-pagination"></div>
</div>`,
            mounted() {
                console.log("mounted")
                new Swiper(".swiper", {
                    // direction: 'vertical', // 垂直切换选项
                    loop: this.loop, // 循环模式选项

                    // 如果需要分页器
                    pagination: {
                        el: '.swiper-pagination',
                    },
                })
            },
            unmounted() {
                console.log("destroyed")
            }
        })

        app.mount("#box")

        //vue2 类的写法 . this
        //vue3 类的写法 + hooks 函数式写法
    </script>
</body>

</html>